<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PhoneBook</title>
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/application.css" rel="stylesheet">
</head>
<body>
<div class="page-header">
    <h3 class="text-center">Welcome to Your personal phone book!
        <small>With blackjack and...</small>
    </h3>
</div>
<div id="main-region">

</div>
</body>
<script src="vendor/lib/jquery.js"></script>
<script src="vendor/lib/json2.js"></script>
<script src="vendor/lib/underscore.js"></script>
<script src="vendor/lib/backbone.js"></script>
<script src="vendor/lib/backbone.localstorage.js"></script>
<script src="vendor/lib/backbone.marionette.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/global_params.js"></script>
<script src="assets/js/login/login_app.js"></script>
<script src="assets/js/login/shows/login_show.js"></script>
<script src="assets/js/login/controllers/login_controller.js"></script>
<script src="assets/js/login/controllers/registration_controller.js"></script>
<script src="assets/js/login/shows/registration_show.js"></script>
<script src="assets/js/contacts/contacts_app.js"></script>
<script src="assets/js/contacts/shows/contacts_show.js"></script>
<script src="assets/js/contacts/controllers/contacts_controller.js"></script>


<!-- TEMPLATES -->
<script type="text/template" id="login-form-template">
    <div class="form-horizontal login-block">
        <div class="form-group">
            <label for="js-form-user-login">Login</label>
            <input type="text" class="form-control" id="js-form-user-login" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="js-form-user-pass">Password</label>
            <input type="password" class="form-control" id="js-form-user-pass" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="js-login-form-registration">Registration</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success login-block-signin" id="js-login-form-signin">Sign in
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="registration-from-template">
    <div class="form-horizontal login-block ">
        <div class="form-group">
            <label for="js-form-user-login-registration">Username</label>
            <input type="text" class="form-control" id="js-form-user-login-registration" placeholder="Username">
            <span id="js-form-user-login-registration-span"></span>
        </div>
        <div class="form-group">
            <label for="js-form-user-login-pass1">Password</label>
            <input type="password" class="form-control" id="js-form-user-login-pass1" placeholder="Password">
            <span id="js-form-user-login-pass1-span"></span>

        </div>
        <div class="form-group">
            <label for="js-form-user-login-pass2">Confirm password</label>
            <input type="password" class="form-control" id="js-form-user-login-pass2" placeholder="Confirm password">
            <span id="js-form-user-login-pass2-span"></span>

        </div>
        <div class="form-group">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="js-login-form-back">Back</button>

                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success login-block-signin disabled" id="js-login-form-signup">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="contact-form-template">
    <td><%= firstName %></td>
    <td><%= secondName %></td>
    <td><%= thirdName %></td>
    <td><%= phoneNumber %></td>
    <td>
        <button id="<%= id %>" class="btn btn-sm js-show-more-btn col-xs-6">
            <i class="icon-eye-open"></i> Show more
        </button>
    </td>
</script>
<script type="text/template" id="contacts-list-template">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Third Name</th>
        <th>Phone Number</th>
        <th>
            <button class="btn btn-sm btn-primary js-back-btn col-xs-6">
                <i class=""></i> Back
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>
<script type="text/template" id="contact-show-more-template">
    <div id="contact-show-more-left-side" class="left">
        <div id="contact-show-avatar-block">
            <img src="assets/img/thug%20doge.jpg" alt="<%= firstName %> <%= secondName %>" class="img-circle" style="height: 180px; width: 180px; display: block;">
        </div>
        <div id="contact-show-more-options">
            <ul class="nav nav-pills">
                <li class="dropdown" role="presentation" id="js-contact-show-dropdown-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" id="js-contact-change-photo">Изменить фото</a>
                        </li>
                        <li>
                            <a href="#" id="js-contact-add-menu1">Доп. меню 1</a>
                        </li>
                        <li>
                            <a href="#" id="js-contact-add-menu2">Доп. меню 1</a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a href="#" id="js-contact-delete">Удалить контакт</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
    <div id="contact-show-more-right-side">
        <input type="text" class="form-control">
    </div>
</script>

<script type="text/javascript">
    PhoneBookApp.start();
</script>
</html>